<script>
    /*
    * Load Service Worker
    */
    // if ('serviceWorker' in navigator) {
    //     navigator.serviceWorker.register('./service-worker.js')
    //     .then( (event) => { 
    //         // console.log(event); 
    //     });
    // };
    // 
</script>

</body>