<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Damien Truffaut and Julien Noyer">
    <meta name="description" content="Aryballe Project: a Lidar project to learn NoSQL technology">
    <meta name="theme-color" content="#0f181c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="canonical" href="http://127.0.0.1:8080"> -->

    <title>Aryballe Project Let's play with Lidar data &amp; NoSQL DB</title>

    <link rel="stylesheet" href="./css/main.css" media>

    <!-- Add manifest -->
    <!-- <link rel="manifest" href="/manifest.json"> -->
    
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="img/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="/img/icon/icon_small.png">
    <meta name="msapplication-TileColor" content="#0f181c">

    <!-- Need to import jQuery to use Potree -->
    <script src="libs/jquery/jquery-3.1.1.min.js"></script>
    <script src="libs/jquery-ui/jquery-ui.min.js"></script>
  </head>

  <body>
    <noscript>
      <main id="authentication">
        <section>
          <article>
            <h1>Aryballe Project <span>Let's play with Lidar data &amp; NoSQL DB</span></h1>
            <p>You need to run Javascript to use this application.</p>
          </article>
        </section>
      </main>
    </noscript>