<main>
    <section id="potree_render_area"></section>
    <aside id="potree_sidebar_container"> </aside>
</main>

<input type="text" value="<%= user.info.firstName %>" id="hiddenFirstName" disabled hidden>
<input type="text" value="<%= user.info.lastName %>" id="hiddenLastName" disabled hidden>

<!-- Import Javascript Libs -->
<script src="libs/spectrum/spectrum.js"></script>
<script src="libs/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="libs/three.js/build/three.min.js"></script>
<script src="libs/other/BinaryHeap.js"></script>
<script src="libs/tween/tween.min.js"></script>
<script src="libs/d3/d3.js"></script>
<script src="libs/proj4/proj4.js"></script>
<script src="libs/openlayers3/ol.js"></script>
<script src="libs/i18next/i18next.js"></script>
<script src="libs/jstree/jstree.js"></script>
<script src="libs/potree/potree.js"></script>
<script src="libs/plasio/js/laslaz.js"></script>

<!-- Import PouchDB CDN -->
<script src="https://cdn.jsdelivr.net/npm/pouchdb@6.4.3/dist/pouchdb.min.js"></script>

<!-- Import webapp script -->
<script src="./js/webApp.js"></script>

